.background {background-color: lightblue;
font-family: 'Courier New', Courier, monospace; color: black; text-decoration: none;}
.background:visited {text-decoration: none;}
.listitem {color: black; text-decoration: none;}
p {font-family: 'Courier New', Courier, monospace; font-size: larger;}
body {background-color: lightblue; color: black;}
footer {text-align: center; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
ul {text-align: right; margin: 0; padding: 0;}
h2 {text-align: center !important; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: black
    ; text-decoration: none;}